alias run='~/net.ton.dev/scripts/run.sh'
alias check='~/net.ton.dev/scripts/check_node_sync_status.sh | grep TIME_DIFF'
alias net='cd ~/net.ton.dev/scripts'
alias tonos='cd ~/net.ton.dev/tonos-cli/target/release/ && ./tonos-cli'
alias masterlog='tail -f ~/node.operator/logs/master.log'
alias nodelog='tail -f /var/ton-work/node.log'
alias validatorlog='cat ~/node.operator/logs/validator.log | tail -n 100'
alias elector='cd ~/net.ton.dev/tonos-cli/target/release && ./tonos-cli runget -1:3333333333333333333333333333333333333333333333333333333333333333'
alias pscripts='cd ~/node.operator/scripts'
alias logs='cd ~/node.operator/logs'
alias liteclient='cd ~/net.ton.dev/ton/build/lite-client'
alias elections='cd ~/ton-keys/elections'
alias election='cd ~/node.operator/scripts && ./checkElection.sh'
