#log all metrics
* * * * * ~/node.operator/scripts/myLog.sh
* * * * * sleep 15 && ~/node.operator/scripts/myLog.sh
* * * * * sleep 30 && ~/node.operator/scripts/myLog.sh
* * * * * sleep 45 && ~/node.operator/scripts/myLog.sh

#validator script
*/5 * * * * script --return --quiet --append --command "cd ~/node.operator/scripts/ && ./validatorScript.sh 2>&1" && killall -9 validator-engine-console
* * * * * cd ~/node.operator/scripts/ && ./validatorRestart.sh

#spreadsheet
* * * * * sleep 5 && python check.py
* * * * * sleep 20 && python check.py
* * * * * sleep 45 && python check.py
* * * * * sleep 45 && python check.py
*/5 * * * * sleep 59; killall -9 python 
