#log all metrics                                                                                                                                                                         │on-global.config.json --db /var/ton-work/db'
* * * * * ~/node.operator/scripts/checkLog.sh                                                                                                                                            │grep: ~/net.ton.dev/ton/build/validator-engine/validator-engine -C /var/ton-work/etc/ton-global.config.json --db /var/ton-wor
                                                                                                                                                                                         │k/db: No such file or directory
#validator script - run and log                                                                                                                                                          │ton@Daniel:~/node.operator/scripts$ pgrep -f '~/net.ton.dev/ton/build/validator-engine/validator-engine -C /var/ton-work/etc/
0 * * * * script --return --quiet --append --command "cd ~/node.operator/scripts/ && ./validatorScript.sh 2>&1" && killall -9 validator-engine-console                                   │ton-global.config.json --db /var/ton-work/db'
* * * * * cd ~/node.operator/scripts/ && ./validatorRestart.sh 
