#log all metrics
* * * * * ~/node.operator/scripts/myLog.sh
* * * * * sleep 15 && ~/node.operator/scripts/myLog.sh
* * * * * sleep 30 && ~/node.operator/scripts/myLog.sh
* * * * * sleep 45 && ~/node.operator/scripts/myLog.sh

#validator script
*/5 * * * * killall -9 validator-engine-console && script --return --quiet --append --command "cd ~/node.operator/scripts/ && ./validatorScript.sh 2>&1"
* * * * * cd ~/node.operator/scripts/ && ./validatorRestart.sh

#spreadsheet
* * * * * sleep 5 && python ~/node.operator/monitor/check.py
* * * * * sleep 20 && python ~/node.operator/monitor/check.py
* * * * * sleep 35 && python ~/node.operator/monitor/check.py
* * * * * sleep 50 && python ~/node.operator/monitor/check.py

#alarm
*/5 * * * * killall -9 python && python ~/node.operator/monitor/alarm.py
