#!/bin/bash

HOSTNAME=$(cat /etc/hostname)

###### add dirs

#KEYS
##1 - raw address
MY_RAW_ADDRESS=$(cat ~/ton-keys/$HOSTNAME.addr)
MY_PARSED_RAW_ADDRESS=$(echo $MY_RAW_ADDRESS | sed 's/^.\{3\}//')
MY_X_RAW_ADDRESS=$(printf "x%s" $MY_PARSED_RAW_ADDRESS)
MY_XX_RAW_ADDRESS=$(printf "0x%s" $MY_PARSED_RAW_ADDRESS)

##2 - election adnl key
DIR_ELECTION_ADNL_KEY=$(cat ~/ton-keys/elections/$HOSTNAME-election-adnl-key | grep  "created new key" | awk '{print $4}')
##### add here saved adnl keys by lite-client dumptrans

##3 node pubkey
NODE_PUBKEY=$(cat ~/ton-keys/elections/$HOSTNAME-request-dump2 | grep 'public key' | awk '{print $11}' | tr '[:upper:]' '[:lower:]')
NODE_X_PUBKEY=$(printf "0x%s" "$NODE_PUBKEY")

##4 msig public key
MSIG_PUBLIC_KEY=$(cat ~/ton-keys/msig.keys.json | grep 'public' | awk '{print $2}' | tr -d '"' | tr -d ',')
MSIG_X_PUBLICKEY=$(printf "0x%s" "$MSIG_PUBLIC_KEY")
MSIG_KEYS_JSON=$(cat ~/ton-keys/msig.keys.json)

##5 safemultisigwallet files
SAFEMULTISIGWALLET_ABI_JSON="~/net.ton.dev/ton-labs-contracts/solidity/safemultisig/SafeMultisigWallet.abi.json"
SAFEMULTISIGWALLET_TVC="~/net.ton.dev/ton-labs-contracts/solidity/safemultisig/SafeMultisigWallet.tvc"

###### add boc
##### add node_id

#ACCOUNT
#1 - general info
MY_ACCOUNT=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "getaccount ${MY_RAW_ADDRESS}" -rc 'quit' 2>/dev/null)
MY_ACCOUNT_STATUS=$(echo "$MY_ACCOUNT" | grep account | awk 'FNR == 3 {print $1}' | perl -ne '/state:\(account_(\S+)/ && print $1')
LAST_TRANS_LT=$(echo "$MY_ACCOUNT" | grep account | awk 'FNR == 2 {print $2}' | tr -d 'last_trans_lt:')
LAST_TX_UNIXTIME=$(echo "$MY_ACCOUNT" | grep last_paid | awk '{print $4}' | tr -d 'last_paid:')
LAST_TX_HUMANTIME=$(date -d @"$LAST_TX_UNIXTIME")

#PARAMETERS
GETCONFIG15=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc 'getconfig 15' -rc 'quit' 2>/dev/null)
GETCONFIG32=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc 'getconfig 32' -rc 'quit' 2>/dev/null)
GETCONFIG34=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc 'getconfig 34' -rc 'quit' 2>/dev/null)
GETCONFIG36=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc 'getconfig 36' -rc 'quit' 2>/dev/null)

#2 - balance
MY_NANO_BALANCE=$(echo "$MY_ACCOUNT" | tail -n 1 | tr -d '=''ng' | awk '{print $4}')
MY_BALANCE=$(echo "scale=9; $MY_NANO_BALANCE"/1000000000 | bc -l)

#TIME
##0 - get current time in unix and human time
CURRENT_UNIXTIME=$(date +%s)
CURRENT_HUMANTIME=$(date)

##1 - get time variables from p15
###1A - election time variables
ELECTION_START_BEFORE=$(echo "${GETCONFIG15}" | awk 'FNR == 4 {print $5}' | tr -d 'elections_start_before:')
ELECTION_END_BEFORE=$(echo "$GETCONFIG15}" | awk 'FNR == 4 {print $6}' | tr -d 'elections_end_before:')

##1B - duration of validation cycle
CYCLE_DURATION=$(echo "${GETCONFIG15}" | awk 'FNR == 4 {print $4}' | tr -d 'validators_elected_for:')

##2 - get time variables from p34
###2A - get current validation
CURRENT_VALIDATION_SINCE_UNIXTIME=$(echo "${GETCONFIG34}" | grep time | awk '{print $2}' | tr -d 'utime_since:')
CURRENT_VALIDATION_UNTIL_UNIXTIME=$(echo "{$GETCONFIG34}" | grep time | awk '{print $3}' | tr -d 'utime_until:')

CURRENT_VALIDATION_SINCE_HUMANTIME=$(date -d @"$CURRENT_VALIDATION_SINCE_UNIXTIME")
CURRENT_VALIDATION_UNTIL_HUMANTIME=$(date -d @"$CURRENT_VALIDATION_UNTIL_UNIXTIME")

###2B - calculate previous validation cycle
PREVIOUS_VALIDATION_SINCE_UNIXTIME=$(expr $CURRENT_VALIDATION_SINCE_UNIXTIME - $CYCLE_DURATION)
PREVIOUS_VALIDATION_UNTIL_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $CYCLE_DURATION)

PREVIOUS_VALIDATION_SINCE_HUMANTIME=$(date -d @"$PREVIOUS_VALIDATION_SINCE_UNIXTIME")
PREVIOUS_VALIDATION_UNTIL_HUMANTIME=$(date -d @"$PREVIOUS_VALIDATION_UNTIL_UNIXTIME")

###2C - calculate next validation cycle
NEXT_VALIDATION_SINCE_UNIXTIME=$(expr $CURRENT_VALIDATION_SINCE_UNIXTIME + $CYCLE_DURATION)
NEXT_VALIDATION_UNTIL_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME + $CYCLE_DURATION)

NEXT_VALIDATION_SINCE_HUMANTIME=$(date -d @"$NEXT_VALIDATION_SINCE_UNIXTIME")
NEXT_VALIDATION_UNTIL_HUMANTIME=$(date -d @"$NEXT_VALIDATION_UNTIL_UNIXTIME")

##4 - calculate election cycles
###4A - calculate previous election start/end in unixtime and active-election-id
PREVIOUS_ACTIVE_ELECTION_ID=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $CYCLE_DURATION)
PREVIOUS_ELECTION_SINCE_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_START_BEFORE - $CYCLE_DURATION)
PREVIOUS_ELECTION_UNTIL_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_END_BEFORE - $CYCLE_DURATION)

PREVIOUS_ELECTION_SINCE_HUMANTIME=$(date -d @"$PREVIOUS_ELECTION_SINCE_UNIXTIME")
PREVIOUS_ELECTION_UNTIL_HUMANTIME=$(date -d @"$PREVIOUS_ELECTION_UNTIL_UNIXTIME")

###4B - calculate upcoming election start/end and active-election-id
CURRENT_ACTIVE_ELECTION_ID=$CURRENT_VALIDATION_UNTIL_UNIXTIME
CURRENT_ELECTION_SINCE_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_START_BEFORE)
CURRENT_ELECTION_UNTIL_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_END_BEFORE)

CURRENT_ELECTION_SINCE_HUMANTIME=$(date -d @"$CURRENT_ELECTION_SINCE_UNIXTIME")
CURRENT_ELECTION_UNTIL_HUMANTIME=$(date -d @"$CURRENT_ELECTION_UNTIL_UNIXTIME")

###4C - calculate next election start/end in and active-election-id
NEXT_ACTIVE_ELECTION_ID=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME + $CYCLE_DURATION)
NEXT_ELECTION_SINCE_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_START_BEFORE + $CYCLE_DURATION)
NEXT_ELECTION_UNTIL_UNIXTIME=$(expr $CURRENT_VALIDATION_UNTIL_UNIXTIME - $ELECTION_END_BEFORE + $CYCLE_DURATION)

NEXT_ELECTION_SINCE_HUMANTIME=$(date -d @"$NEXT_ELECTION_SINCE_UNIXTIME")
NEXT_ELECTION_UNTIL_HUMANTIME=$(date -d @"$NEXT_ELECTION_UNTIL_UNIXTIME")

#COLORS
NO_COLOR='\e[0m'
RED='\e[31m'
GREEN='\e[32m'
YELLOW='\e[33m'
BLUE='\e[34m'
LIGHT_RED='\e[91'

#ELECTION
## during election - check election submission from elector
CHECK_ELECTION_SUBMISSION=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 participates_in ${NODE_X_PUBKEY}" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $3}')

## after election - check whether elected
CHECK_ELECTION_RESULT=$(echo "${GETCONFIG36}" | grep $DIR_ELECTION_ADNL_KEY | awk '{print $4}' | tr -d ')' | tr -d 'adnl_addr:x')

## after validation cycle begins - check whether validating
CHECK_VALIDATION_STATUS=$(echo "${GETCONFIG34}" | grep $DIR_ELECTION_ADNL_KEY | awk '{print $4}' | tr -d ')' | tr -d 'adnl_addr:x')

## check election status
CHECK_ELECTION_STATUS=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 active_election_id" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $3}')

## check if currently in transition period (after election ends and before new cycle begins)
CHECK_TRANSITION_STATUS=$(echo "${GETCONFIG36}" | awk 'FNR == 4 {print $3}')

##### add here adnl keys from dumptrans

##
CURRENT_MY_WEIGHT=$(echo "${GETCONFIG34}" | grep $DIR_ELECTION_ADNL_KEY | awk '{print $3}' | tr -d 'weight:')
CURRENT_NETWORK_WEIGHT=$(echo "${GETCONFIG34}" | grep 'total_weight' | awk '{print $6}' | tr -d 'total_weight:')
CURRENT_MY_WEIGHT_PERCENTAGE=$(echo "scale=9; ${CURRENT_MY_WEIGHT}/${CURRENT_NETWORK_WEIGHT}" | bc -l)

## calculate network weight and rewards for next round
NEXT_MY_WEIGHT=$(echo "${GETCONFIG36}" | grep $DIR_ELECTION_ADNL_KEY | awk '{print $3}' | tr -d 'weight:')
NEXT_NETWORK_WEIGHT=$(echo "${GETCONFIG36}" | grep 'total_weight' | awk '{print $6}' | tr -d 'total_weight:')
NEXT_MY_WEIGHT_PERCENTAGE=$(echo "scale=9; $NEXT_MY_WEIGHT/$NEXT_NETWORK_WEIGHT" | bc -l)

PREVIOUS_TOTAL_BONUS=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 past_elections" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $9}')
PREVIOUS_TOTAL_STAKE=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 past_elections" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $8}')
PREVIOUS_INTEREST_RATE=$(echo "scale=9; $PREVIOUS_TOTAL_BONUS/$PREVIOUS_TOTAL_STAKE" | bc -l)

NEXT_MY_STAKED_TOKENS="$CHECK_ELECTTION_SUBMISSION"
EXPECTED_INTEREST_RATE="$PREVIOUS_INTEREST_RATE"
EXPECTED_TOTAL_BONUS=$(echo "scale=9; $PREVIOUS_INTEREST_RATE*$NEXT_MY_STAKED_TOKENS" | bc -l)

CURRENT_TOTAL_STAKE=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 past_elections" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $16}')
CURRENT_TOTAL_BONUS=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 past_elections" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $17}')

CURRENT_MY_WEIGHT=$(echo "${GETCONFIG34}" | grep $DIR_ELECTION_ADNL_KEY | awk '{print $3}' | tr -d 'weight:')
CURRENT_NETWORK_WEIGHT=$(echo "${GETCONFIG34}" | grep 'total_weight' | awk '{print $6}' | tr -d 'total_weight:')
CURRENT_MY_WEIGHT_PERCENTAGE=$(echo "$CURRENT_MY_WEIGHT/$CURRENT_NETWORK_WEIGHT" | bc -l)
CURRENT_MY_STAKED_TOKENS=$(echo "scale=9; ${CURRENT_MY_WEIGHT_PERCENTAGE}*${CURRENT_TOTAL_STAKE}/1000000000" | bc -l)
CURRENT_MY_BONUS=$(echo "scale=9; ${CURRENT_MY_WEIGHT_PERCENTAGE}*${CURRENT_TOTAL_BONUS}/1000000000" | bc -l)

#EXPECTED_TOTAL_BONUS_PERCENTAGE=EXPECTED_TOTAL_BONUS/MYSTAKE
MY_COMPUTE_REWARD=$(cd ~/net.ton.dev/ton/build/lite-client && ./lite-client -p ~/ton-keys/liteserver.pub -a 127.0.0.1:3031 -rc "runmethodfull -1:3333333333333333333333333333333333333333333333333333333333333333 compute_returned_stake $MY_XX_RAW_ADDRESS" -rc 'quit' 2>/dev/null | awk 'FNR == 5 {print $3}')
